*{
    --primary: #151f3b;
    --secondary: #676767;
    --light: #000;
    --dark: #000;
}
body{
  font-family: Poppins,sans-serif;
}
.App {
font-family: Poppins,sans-serif;
  
}

.progress-div {
    background-color: rgb(233, 233, 233);
    border-radius: 5rem;
    margin:"1em 0";
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

.progress {
    background-color:var(--primary);
    height: 20px;
    color: white;
    font-size: 15px;
    text-align: end;
    padding-right: 20px;
    vertical-align: center;
    border-radius: 1rem;
    transition: 3s ease;
    -webkit-transition: 3s ease;
    -moz-transition: 3s ease;
    -ms-transition: 3s ease;
    -o-transition: 3s ease;
}
.scroll-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Contact ul{
  justify-content: center;
}

