.hamburger{
    display: none;
      

}
.burger{
                    width: 2rem;
                    height: 0.25rem;
                    border-radius: 10px;
                    background-color: black;
                    transform-origin: 1px;
                    transition: all 0.3s linear;
                }
.menu{
    margin: 0;
    border: 0;
    line-height: 1;
    text-decoration: none;
    padding: 18px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0;
    color: #151f3b;
    font-family: Poppins,sans-serif;
}
.menu:hover{
  color: #14161b
}
.Arrow{
     border: solid #151f3b 1px !important;
     right: 2.5em !important;
     bottom: 1% !important;
     animation: sdb04 2s infinite;
     -webkit-animation: sdb04 1.2s infinite;
}
@keyframes sdb04 {
  0% {
    transform:  translate(0, 0);
}
  20% {
    transform:  translate(0, 5px);
    -webkit-transform:  translate(0, 5px);
    -moz-transform:  translate(0, 5px);
    -ms-transform:  translate(0, 5px);
    -o-transform:  translate(0, 5px);
}
  40% {
    transform:  translate(0, 0);
}
}
.Arrow:hover{
  transform:scale(1.1) ;
  -webkit-transform:scale(1.1) ;
  -moz-transform:scale(1.1) ;
  -ms-transform:scale(1.1) ;
  -o-transform:scale(1.1) ;
}
@media (max-width:767px){
  .hamburger{
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
}
.menu{
    margin: 0;
    border: 0;
    line-height: 1;
    text-decoration: none;
    padding: 18px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0;
    color: #151f3b;
    -webkit-transition: all 10 ease-out;
    -moz-transition: all 10 ease-out;
    -ms-transition: all 10 ease-out;
    -o-transition: all 10 ease-out;
}
.Arrow{
     right: 1.5em !important;
}
}